/**
 *
 * MyBB: MyGentelella - Admin CP
 *
 * Filename: home.css
 *
 * Style Author: Chack1172
 *
 * C Site: http://www.chack1172.altervista.org/
 *
 * MyBB Version: 1.8.x
 *
 * Style Version: 1.2
 * 
 */

#page_home_dashboard .menu.online_admins {
    list-style: none;
    padding: 0;
}
#page_home_dashboard .menu.online_admins a {
    color: #fff;
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}
#page_home_dashboard .table_1 th {
    display: none;
}
#page_home_dashboard .table_1 td {
    width: 50%;
    display: block;
    float: left;
}
#page_home_dashboard .table_1 td:nth-child(-n + 2) {
    background-color: #f5f5f5;
}
#page_home_dashboard .table_1 tr.first td:nth-child(-n + 2) {
    border-top: 0px;
}
#page_home_dashboard .table_1 .alt_row {
    background-color: #fff;
}

@media (max-width: 991px) {
    .float_right,
    .float_left {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .float_left td,
    .float_left th {
        white-space: normal !important;
    }
}

@media (min-width: 640px) {
    #page_home_dashboard .table_1 tr {
        display: table-row;
    }
    #page_home_dashboard .table_1 th,
    #page_home_dashboard .table_1 td {
        display: table-cell;
        float: none;
        width: auto;
    }
    #page_home_dashboard .table_1 td:nth-child(-n + 2) {
        background-color: transparent;
    }
    #page_home_dashboard .table_1 .alt_row {
        background-color: #f5f5f5;
    }
}
