/**
 *
 * MyBB: MyGentelella - Admin CP
 *
 * Filename: main.css
 *
 * Style Author: Chack1172
 *
 * C Site: http://www.chack1172.altervista.org/
 *
 * MyBB Version: 1.8.x
 *
 * Style Version: 1.2
 * 
 */

body {
    color: #73879c;
    background: #2a3f54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    overflow-x: hidden;
}

a {
    color: #5a738e;
}

a:hover,
a:focus {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

.container {
    width: 100%;
    padding: 0;
}

body.nav-md .container .col-md-3.left_col {
    width: 230px;
    padding: 0;
    position: absolute;
    display: flex;
}

body.nav-sm .container .left_col {
    width: 70px;
    padding: 0;
    height: 100%;
    z-index: 200;
    position: absolute;
}

.navbar {
    margin: 0;
}

body.nav-sm .navbar.nav_title {
    width: 70px;
}

.nav_title {
    width: 230px;
    background: #2a3f54;
    border-radius: 0;
    height: 57px;
}

body.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

body.nav-sm .navbar.nav_title a span {
    display: none;
}

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ecf0f1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}

.site_title i {
    padding: 5px 6px;
}

.container .right_col {
    background: #f7f7f7;
}

body.nav-md .container .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

body.nav-sm .container .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2;
}

.col-md-55,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

body.nav-sm .profile {
    display: none;
}

.profile_pic {
    width: 35%;
    float: left;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

.profile_info {
    padding: 45px 10px 10px;
    width: 65%;
    float: left;
}

.profile_info h2 {
    font-size: 14px;
    color: #ecf0f1;
    margin: 0;
    font-weight: 300;
}

body.nav-sm .menu_section {
    margin: 0;
}

.menu_section {
    padding-top: 10px;
    padding-bottom: 25px;
}

.menu_section > ul {
    margin-top: 10px;
}

.nav.side-menu > li {
    position: relative;
    position: relative;
    display: block;
    cursor: pointer;
}

body.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

body.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}

body.nav-sm span.fa,
body.nav-sm .menu_section h3 {
    display: none !important;
}

.nav.side-menu > li > a,
.nav.child_menu > li > a {
    color: #e7e7e7 !important;
    font-weight: 500;
}

.nav.side-menu > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: transparent;
}

.nav.side-menu > li > a {
    margin-bottom: 6px;
}

.nav.side-menu > li > a:hover {
    color: #f2f5f7 !important;
}

body.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1abb9c;
}

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
    border-right: 5px solid #1abb9c;
}

.nav.side-menu > li.active > a {
    color: #ff0000;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#334556, #2c4257), #2a3f54;
    background: -moz-linear-gradient(#334556, #2c4257), #2a3f54;
    background: -o-linear-gradient(#334556, #2c4257), #2a3f54;
    background: linear-gradient(#334556, #2c4257), #2a3f54;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

body.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    width: 210px;
    z-index: 4000;
    background: #3e5367;
    display: none;
}

.nav.child_menu li {
    padding-left: 36px;
}

.nav.child_menu li:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

li.current-page {
    background: rgba(255, 255, 255, 0.05);
}

body.nav-md ul.nav.child_menu li::before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

body.nav-md ul.nav.child_menu li::after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

#sidebar-menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px !important;
    min-width: inherit;
    color: #c4cfda;
}

#sidebar-menu .fa {
    width: 26px;
    opacity: 0.99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.active a span.fa {
    text-align: right !important;
    margin-right: 4px;
}

.container .top_nav {
    display: block;
    margin-left: 230px;
}

body.nav-sm .container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2;
}

.nav_menu {
    float: left;
    background: #ededed;
    border-bottom: 1px solid #d9dee4;
    width: 100%;
    position: relative;
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}

.navbar-right {
    margin-right: 0;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}

.nav.navbar-nav > li > a {
    color: #515356 !important;
}

.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover,
.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover {
    background: #d9dee4;
}

.navbar-brand,
.navbar-nav > li > a {
    font-weight: 500;
    color: #ecf0f1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}

.navbar-nav > li > a,
.navbar-brand,
.navbar-nav > li > a {
    color: #fff !important;
}

.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

.toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}

.toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
}

.toggle a i {
    font-size: 26px;
}

.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border: 1px solid #d9dee4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.top_nav .dropdown-menu li {
    width: 100%;
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
}

.dropdown-menu > li > a {
    color: #5a738e;
}

.top_nav li a i {
    font-size: 15px;
}

.breadcrumb {
    margin-bottom: 10px;
}

.alert-success {
    color: #ffffff;
    background-color: rgba(38, 185, 154, 0.88);
    border-color: rgba(38, 185, 154, 0.88);
}

.alert-info {
    color: #e9edef;
    background-color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88);
}

.alert-error {
    color: #e9edef;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
}

footer {
    background: #fff;
    padding: 15px 20px;
    margin: 0 -10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e9ed;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.x_title {
    border-bottom: 2px solid #e6e9ed;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title h2 {
    margin: 5px 0 6px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.align_center {
    text-align: center;
}

.alt_row {
    background-color: #f5f5f5;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #ccd0d7;
    box-shadow: none !important;
}

label {
    cursor: pointer;
}

.form_button_wrapper {
    margin-top: -16px;
    text-align: center;
}

#flash_message {
    margin-top: 10px;
}

.buttons,
button,
.btn {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-group .btn {
    margin: 0px;
}

.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.select2-container {
    border: 0px;
    padding: 0px;
}

.popup_menu {
    z-index: 1000;
    background: #fff;
    border: 1px solid #d9dee4;
    min-width: 160px;
    position: absolute;
}

.popup_item {
    color: #5a738e;
    display: block;
    padding: 3px 20px;
    clear: both;
}

.popup_item:focus,
.popup_item:hover {
    color: #262626;
    background: #f5f5f5;
}

.dropdown {
    display: inline-block;
}

#jGrowl {
    position: fixed;
    z-index: 10000;
    right: 36px;
    top: 36px;
    width: 300px;
}
#jGrowl .jGrowl-close {
    float: right;
}

.modal > div {
    background: #fff;
    margin: 20px 10%;
    width: 80%;
}

@media (max-width: 991px) {
    body.nav-md .container.body .col-md-3.left_col {
        display: none;
    }

    body.nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0;
    }

    body.nav-md .container.body .right_col,
    body.nav-md .container.body .top_nav {
        width: 100%;
        margin: 0;
    }

    .right_col {
        padding: 10px !important;
    }
}

@media (min-width: 768px) {
    footer {
        margin: 0 -20px;
    }
}

@media (min-width: 480px) {
    .nav_menu {
        position: static;
    }

    .top_nav .navbar-right li {
        position: relative;
    }
}

.x_content {
    overflow-y: auto;
}
